div.my-footer {
    background-color: #ef78f5 ;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
}
div.my-footer span {
    font-size: 11pt;
    color: #204887;
    position: absolute;
    left: 15px;
    bottom: 6px;
}